/*-------------- Contenido de ajustes --------------------*/
.content-ajustes {
    display: flex;
    flex: 1;
}

/*-------------- Barra lateral de ajustes --------------------*/
.sidebar-ajustes {
    background-color: #ffffff;
    width: 20% !important;
    padding: 20px;
}

/*-------------- Clase genérica para margen inferior --------------------*/
.mb-4 {
    width: 150px;
}

/*-------------- Menú de la barra lateral de ajustes --------------------*/
.sidebar-menu-ajustes {
    list-style-type: none;
    padding: 0;
}

/*-------------- Enlaces del menú de la barra lateral de ajustes --------------------*/
.menu-link-ajustes {
    display: block;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/*-------------- Iconos del menú de la barra lateral de ajustes --------------------*/
.menu-icon-ajustes {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

/*-------------- Contenedor principal de ajustes --------------------*/
.ajustes-content-ajustes {
    display: flex;
    width: 100%;
    height: 100vh;
}

/*-------------- Sección dentro del contenedor principal --------------------*/
.section {
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/*-------------- Contenedor del buscador --------------------*/
.search-cont-ajustes {
    padding: 15px;
    box-sizing: border-box;
    background-color: #E0F2E6;
}

/*-------------- Barra de búsqueda --------------------*/
.search-bar-ajustes {
    padding: 10px;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    margin-left: 10px;
}

/*-------------- Contenido de los resultados --------------------*/
.resultado-content-ajustes {
    flex: 10px;
    background-color: #E0F2E6;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 20px;
    height: 100%;
    overflow-y: auto;
}

/*-------------- Iconos de la sección de ajustes --------------------*/
.icon {
    margin-top: 10px;
    font-size: 24px;
    color: #000000;
    margin-right: 20px;
}

.ajustes-icon-option {
    margin-top: 30px;
}

/*-------------- Formulario dentro del contenido de los resultados --------------------*/
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*-------------- Título de la opción de texto --------------------*/
.text-title-option {
    margin-bottom: 15px;
    font-size: 2rem;
    color: #333;
    text-align: center;
    font-weight: 700;
}

/*-------------- Datos del perfil --------------------*/
.datos-perfil {
    padding-top: 20px;
}

/*-------------- Ajustes y Cerrar Sesión --------------------*/
.ajustes-cerrar-ajustes {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}
