
.content-ajustes {
    display: flex;
    flex: 1;
}

.sidebar-ajustes {
    background-color: #ffffff;
    width: 20% !important;
    padding: 20px;
}
.mb-4{
    width: 150px;
}

.sidebar-menu-ajustes {
    list-style-type: none;
    padding: 0;
}

.menu-link-ajustes {
    display: block;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-icon-ajustes {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}







/* --------------------- search-cont-ajustes --------------------- */

/* Contenedor principal dividido en dos partes iguales */
.ajustes-content-ajustes {
    display: flex;
    width: 100%;
    height: 100vh;
}
.section{
    margin-left: 10px;
}

/* Contenedor del buscador */
.search-cont-ajustes {
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    background-color: #E0F2E6;
    
}

/* Barra de búsqueda */
.search-bar-ajustes {
    padding: 10px;
    width: 100%;
    border: 1px solid #e4e2e2;
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    margin-left: 10px;
}

/* Contenido de los resultados */
.resultado-content-ajustes {
    flex: 10px; 
    background-color: #E0F2E6;
    padding: 20px;
    box-sizing: border-box; 
    margin-left: 20px; 
}
.section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.icon {
    margin-top: 10px;
    font-size: 24px;
    color: #000000; 
    margin-right: 20px; 
}

.ajustes-icon-option {
    margin-top: 30px;
}
/* --------------------- search-cont-ajustes --------------------- */



/* --------------------- resultado-content-ajustes --------------------- */

.resultado-content-ajustes {
    background-color: #E0F2E6;
    padding: 20px;
    height: 100%;
    overflow-y: auto; 
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.text-title-option{
    margin-bottom: 15px;
    font-size: 2rem;
    color: #333;
    text-align: center; 
    font-weight: 700; 
}




.datos-perfil{
    padding-top: 20px;
}



/* --------------------- resultado-content-ajustes --------------------- */




/* ------------------ Ajustes y Cerrar Sesión ------------------ */

.ajustes-cerrar-ajustes {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20%;
    padding: 20px;
}
/*=======================================================================*/


