/*-------------- Reset de estilos básicos para html y body --------------------*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*-------------- Contenedor principal de cerrar sesión --------------------*/
.cerrar-container-cerrar {
  display: flex;
  background-color: #E0F2E6;
  flex-direction: column;
  height: 100vh;
}

/*-------------- Contenido principal de cerrar sesión --------------------*/
.content-cerrar {
  display: flex;
  flex: 1;
}

/*-------------- Barra lateral de cerrar sesión --------------------*/
.sidebar-cerrar {
  background-color: #ffffff;
  padding: 20px;
  width: 20% !important;
}

.sidebar-cerrar.open {
  width: 100%;
}

/*-------------- Menú de la barra lateral de cerrar sesión --------------------*/
.sidebar-menu-cerrar {
  list-style-type: none;
  padding: 0;
}

/*-------------- Enlaces del menú de la barra lateral de cerrar sesión --------------------*/
.menu-link-cerrar {
  display: block;
  padding: 10px 0;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/*-------------- Iconos del menú de la barra lateral de cerrar sesión --------------------*/
.menu-icon-cerrar {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

/*-------------- Contenedor del buscador y menú --------------------*/
.search-menu-container {
  display: flex;
  align-items: center;
  padding: 15px;
}

/*-------------- Contenedor del buscador --------------------*/
.search-cont-cerrar {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 16px;
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
}

/*-------------- Vista Principal --------------------*/
.cerrar-content-cerrar {
  flex: 1;
  padding: 20px;
}

/*-------------- Buscador, iconos de notificación y perfil --------------------*/
.search-bar-cerrar {
  padding: 10px;
  border: 1px solid #48b81c;
  border-radius: 10px;
  outline: none;
  margin-right: 10px; /* Espacio entre el buscador y los iconos */
  width: calc(100% - 80px);
  margin-left: 100px;
}

.icons-cerrar {
  display: flex;
  align-items: center;
  outline: none;
}

.icon-cerrar {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  outline: none;
}

.icon-cerrar-2 {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 150px;
  outline: none;
}

/*-------------- Ajustes y Cerrar Sesión --------------------*/
.ajustes-cerrar-cerrar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 20%;
  padding: 20px;
}

/*-------------- Clase genérica para margen inferior --------------------*/
.mb-4 {
  width: 150px;
}

/*-------------- Estilos Responsivos --------------------*/
@media (max-width: 1366px) {
  .sidebar-cerrar {
      width: 25%;
  }

  .ajustes-cerrar-cerrar {
      width: 25%;
  }
}

@media (max-width: 820px) {
  .sidebar-cerrar {
      width: 100% !important;
      position: absolute;
      height: 100%;
      z-index: 10;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
  }

  .sidebar-cerrar.open {
      transform: translateX(0);
  }

  .ajustes-cerrar-cerrar {
      width: 100%;
  }

  .search-menu-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .search-cont-cerrar {
      flex-direction: column;
      width: 100%;
      margin-left: 0;
  }

  .search-bar-cerrar {
      padding: 10px;
      border: 1px solid #48b81c;
      border-radius: 10px;
      outline: none;
      margin: 30px 20px 10px 5px;
      width: calc(100% - 80px);
  }

  .icons-cerrar {
      justify-content: space-between;
      width: auto;
  }

  .menu-toggle {
      display: block;
      margin-bottom: 10px;
  }
}

/*-------------- Botón de alternar menú --------------------*/
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
}

/*-------------- Mostrar botón de alternar menú en pantallas pequeñas --------------------*/
@media (max-width: 820px) {
  .menu-toggle {
      display: block;
      position: absolute;
      top: 15px;
      left: 40px;
      font-size: 30px;
      padding: 10px;
  }

  .search-cont-cerrar {
      margin-top: 40px;
  }

  .search-bar-cerrar {
      margin: 30px 20px 10px 5px;
      width: calc(100% - 40px);
  }

  .icon-cerrar-2 {
      margin-right: 30px;
  }
}

/*-------------- Iconos con outline removido --------------------*/
.icons-cerrar,
.icon-cerrar {
  outline: none;
}

