/* --------------------------------- Estilos Generales ------------------------------- */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* --------------------------------- Contenedor de Monitoreo ------------------------------- */
.monitoreo-container-2 {
    display: flex;
    background-color: #E0F2E6;
    flex-direction: column;
    height: 100%;
}

/* --------------------------------- Contenido Principal ------------------------------- */
.content-2 {
    display: flex;
    flex: 1;
}

/* --------------------------------- Barra Lateral ------------------------------- */
.sidebar-2 {
    background-color: #ffffff;
    width: 20%;
    padding: 20px;
}

.sidebar-menu-2 {
    list-style-type: none;
    padding: 0;
}

.menu-link-2 {
    display: block;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-icon-2 {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

/* --------------------------------- Contenedor de Búsqueda ------------------------------- */
.search-cont-2 {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 16px;
}

/* --------------------------------- Vista Principal ------------------------------- */
.monitoreo-content-2 {
    flex: 1;
    padding: 20px;
}

/* --------------------------------- Buscador, Iconos y Perfil ------------------------------- */
.search-bar-2 {
    padding: 10px;
    margin-left: 100px;
    border: 1px solid #48b81c;
    border-radius: 10px;
    outline: none;
    margin-right: 10px; 
}

.icons-2 {
    display: flex;
    align-items: center;
}

.icon-2 {
    width: 30px;
    height: 30px;
    margin-left: 20px; 
}

/* --------------------------------- Ajustes y Cerrar Sesión ------------------------------- */
.ajustes-cerrar-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

/* --------------------------------- Sensores y Contenido ------------------------------- */
.sensores-item-2 {
    background-color: #ffffff;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sensores-item-v-2 {
    background-color: #ffffff;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/*---------------------- Contenedor Principal ------------------------*/
.contenido-sensores-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/*---------------------- Lista de Sensores ------------------------*/
.cont-sensor-2 {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}

/*---------------------- Elementos de Sensor ------------------------*/
.sensores-item-2 {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
}
/*---------------------- Elementos de Sensor de meteorologica ------------------------*/
.sensores-item-v-2 {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
}



/* --------------------------------- Selección de Válvula ------------------------------- */
.valvula-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.valvula-container-title-humedad {
    background-color: #ffffff; 
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    border-radius: 8px;
    font-weight: bold;
    color: #000000;
}

.valvula-container-ultima-hora {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 8px;
    gap: 50px;
    align-items: center;
}

.valvula-container-ultima-lectura {
    background-color: #71BF97;
    padding: 10px;
    display: flex;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-weight: bold;
}
.ultima-hora, .hora-fecha{
    margin-left: 10px;
}



/* --------------------------------- Nombre de Estación ------------------------------- */
.estacion-meteorologica-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.estacion-meteorologica-container-title-humedad {
    background-color: #ffffff; 
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    border-radius: 8px;
    font-weight: bold;
    color: #000000;
}

.estacion-meteorologica-container-ultima-hora {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 8px;
    gap: 50px;
    align-items: center;
}

.estacion-meteorologica-container-ultima-lectura {
    background-color: #71BF97;
    padding: 10px;
    display: flex;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-weight: bold;
}
.estacion-ultima-hora, .estacion-hora-fecha{
    margin-left: 10px;
}
