/* ------------------ Contenedor Principal ------------------ */

.program-container-programacion {
    display: flex;
    background-color: #E0F2E6;
    flex-direction: column;
    height: 100%;
}
.content-programacion {
    display: flex;
    flex: 1;
}


/* ------------------ Barra de Búsqueda ------------------ */

.search-cont-programacion {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 16px;
}

/* ------------------ Vista Principal ------------------ */

.program-content-programacion {
    flex: 1;
    padding: 20px;
}

/* -------- Buscador, iconos de notificación y perfil -------- */ 
.search-bar-programacion {
    padding: 10px;
    margin-left: 100px;
    border: 1px solid #000000;
    border-radius: 10px;
    outline: none;
    margin-right: 10px; 
}

.icons-programacion {
    display: flex;
    align-items: center;
}

.icon-programacion {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

/* ------------------ Barra de Navegación Lateral ------------------ */

.sidebar-programacion {
    background-color: #ffffff;
    width: 20%;
    padding: 20px;
}

.sidebar-menu-programacion {
    list-style-type: none;
    padding: 0;
}

.mb-4-programacion {
    width: 150px;
}

.menu-link-programacion {
    display: block;
    padding: 10px 0;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-icon-programacion {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

/* ------------------ Ajustes y Cerrar Sesión ------------------ */

.ajustes-cerrar-programacion {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}