/* ------------------------------ Contenedor Principal ------------------------------ */
.cerrar-container-cerrar {
    display: flex;
    background-color: #E0F2E6;
    flex-direction: column;
    height: 100vh;
}

/* ------------------------------ Contenedor de Sidebar ------------------------------ */
.sidebar-cerrar {
    background-color: #ffffff;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: width 0.3s ease;
}

/* ------------------------------ Estilo del Menú Principal ------------------------------ */
.sidebar-menu-cerrar {
    list-style-type: none;
    padding: 0;
    flex: 1; 
}

/* ------------------------------ Estilo del Enlace del Menú ------------------------------ */
.menu-link-cerrar {
    display: block;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* ------------------------------ Estilo del Ícono del Menú ------------------------------ */
.menu-icon-cerrar {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

/* ------------------------------ Estilo del Botón de Alternancia ------------------------------ */
.sidebar-toggle {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001;
    background-color: #ffffff;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* ------------------------------ Contenedor de Sección Inferior ------------------------------ */
.ajustes-cerrar-cerrar {
    margin-top: auto; 
    padding: 20px 0;
    border-top: 1px solid #ddd; 
}

/* ------------------------------ Estilos Responsivos ------------------------------ */
@media (max-width: 768px) {
    .sidebar-cerrar {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100vh;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .sidebar-cerrar.show {
        transform: translateX(0);
    }

    .sidebar-menu-cerrar {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .menu-link-cerrar {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    .ajustes-cerrar-cerrar {
        position: relative;
        width: 100%;
        margin-top: 20px; 
        border-top: 1px solid #ddd; 
    }

    .sidebar-toggle {
        display: block;
    }
}

@media (min-width: 769px) {
    .sidebar-cerrar {
        width: 20%;
    }

    .ajustes-cerrar-cerrar {
        width: 20%;
    }
}
