/* ------------------------------ Contenedor Principal de Recuperación de Contraseña ------------------------------ */
.recuperar-contrasena-container {
  background-image: url('../src/assets/cutivo1.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

/* ------------------------------ Estilo del Grupo de Input de Contraseña ------------------------------ */
.input-group-password {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
