/* Fondo de imagen */
.register-container {
  background-image: url('../src/assets/cultivor.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-tom {
  position: relative;
  background-color: #ffffff;
  height: auto; 
  max-height: 90vh;
  width: 402px;
  margin-left: 10%;
  padding: 40px 64px 64px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.color-title{
  color: #FFB84D ;  
 
}
.color-buttom{
  background-color: #FFB84D ; 
}

@media (max-width: 768px) {
  .register-tom {
    width: 90%;
    padding: 20px 32px 32px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .register-container {
    height: auto; 
    padding: 20px;
  }

  img {
    width: 100px; 
  }

  .custom-input {
    font-size: 14px; 
  }

  .custom-button {
    font-size: 14px; 
  }

  label {
    font-size: 14px; 
  }
}
