/*--------------Estilos generales --------------------*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*--------------Contenedor principal de sensores --------------------*/
.sensores-container-sensores {
    display: flex;
    background-color: #E0F2E6;
    flex-direction: column;
}

/*--------------Contenido de sensores --------------------*/
.content-sensores {
    display: flex;
    flex: 1;
}

/*--------------Barra lateral de sensores --------------------*/
.sidebar-sensores {
    background-color: #ffffff;
    width: 20%;
    padding: 20px;
}

/*--------------Menú de la barra lateral de sensores --------------------*/
.sidebar-menu-sensores {
    list-style-type: none;
    padding: 0;
}

/*--------------Enlaces del menú de la barra lateral de sensores --------------------*/
.menu-link-sensores {
    display: block;
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/*--------------Iconos del menú de la barra lateral de sensores --------------------*/
.menu-icon-sensores {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

/*--------------Contenedor de búsqueda --------------------*/
.search-cont-sensores {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 16px;
}

/*--------------Vista principal --------------------*/
.sensores-content-sensores {
    flex: 1;
    padding: 20px;
}

/*--------------Buscador e iconos --------------------*/
.search-bar-sensores {
    padding: 10px;
    margin-left: 100px;
    border: 1px solid #000000;
    border-radius: 10px;
    outline: none;
    margin-right: 10px; 
}

/*--------------Contenedor de iconos --------------------*/
.icons-sensores {
    display: flex;
    align-items: center;
}

/*--------------Iconos de notificación y perfil --------------------*/
.icon-sensores {
    width: 30px;
    height: 30px;
    margin-left: 20px; 
}

/*--------------Configuración y cierre de sesión --------------------*/
.ajustes-cerrar-sensores {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

/*==============Estilo de válvulas ==================*/
.sensores-item-sensores {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------Estilo de válvulas con color --------------------*/
.sensores-item-sensores {
    background-color: #124ae2;
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 450px;
    height: 210px;
    display: flex;
    align-items: center;
    gap: 20px; 
}

/*--------------Contenedor de íconos y valores de sensores --------------------*/
.value-icon-container-sensores {
    display: flex;
    align-items: center;
}

/*--------------Contenedor de sensores --------------------*/
.cont-sensor-sensores {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    flex-wrap: wrap;
}

/*--------------Imagen de sensor --------------------*/
.sensor-img-sensores {
    margin-left: -20px;
}

/*--------------Texto del sensor --------------------*/
.container-text-sensores {
    margin-left: 20px;
    text-align: left;
}

/*--------------Valor del sensor --------------------*/
.sensor-value-sensores {
    font-weight: bold;
    margin-bottom: 20px;
}

/*--------------Estación meteorológica --------------------*/
.container-sensores {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------Estilo de estación meteorológica --------------------*/
.Estacion-mt-sensores {
    background-color: #ffffff;
    margin-top: 20px;
    padding: 10px;
    border-radius: 16px;
    width: 25%;
    height: auto;
    display: inline-block;
    text-align: center; 
}

/*--------------Espacio adicional para elementos --------------------*/
.mb-4-sensores {
    width: 150px;
}
