/* ------------------ Contenedor Principal ------------------ */

.tarea-container-6 {
    display: flex;
    background-color: #E0F2E6;
    flex-direction: column;
    height: 100vh;
}
.content-6 {
    display: flex;
    flex: 1;
}


/* ------------------ Barra de Búsqueda ------------------ */

.search-cont-6 {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 16px;
}

/* ------------------ Vista Principal ------------------ */

.tarea-content-6 {
    flex: 1;
    padding: 20px;
;
}

/* -------- Buscador, iconos de notificación y perfil -------- */ 
.search-bar-6 {
    padding: 10px;
    margin-left: 100px;
    border: 1px solid #777373;
    border-radius: 10px;
    outline: none;
    margin-right: 10px; 
}

.icons-6 {
    display: flex;
    align-items: center;
}

.icon-6 {
    width: 30px;
    height: 30px;
    margin-left: 20px; 
}

/* ------------------ Barra de Navegación Lateral ------------------ */

.sidebar-6 {
    background-color: #ffffff;
    width: 20%;
    padding: 20px;
}

.sidebar-menu-6 {
    list-style-type: none;
    padding: 0;
}

.mb-4{
    width: 150px;
}

.menu-link-6 {
    display: block;
    padding: 10px 0;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-icon-6 {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

/* ------------------ Ajustes y Cerrar Sesión ------------------ */

.ajustes-cerrar-6 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

/* ------------------ Nombre de Bienvenida ------------------ */

.bienve-nombre-6 {
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px; 
}

/* ------------------ Estilo de los Sensores ------------------ */

.contenido-sensores-6 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.cont-sensor-6 {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    flex-wrap: wrap;
}

.sensor-item-6 {
    background-color: #ffffff;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 20px;
    text-align: center;
    width: 132px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.sensor-item-6.selected {
    background-color: #3a8f29; 
}

.value-icon-container-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.sensor-value-6, .sensor-icon-6 {
    display: inline;
    margin: 0 1px;
}

.sensor-name-6 {
    margin: 5px 0;
    display: block;
}

.sensor-value-6 {
    font-weight: bold;
}


/* ------------------ Grafico y maps ------------------ */
.grafico-maps-6 {
    display: flex;
    justify-content: space-between;
}

.grafico-reporte-6{
    width: 48%; 
    height:auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 24px;
}

.title-gm-6 {
    text-align: center;
    font-weight: bold;
    
}
.maps-sensores-6 {
width: 48%; 
    height: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 24px;
}

.maps-sensores-6 img {
    width: 70%; 
    height: auto; 
    display: block;
    margin: 0 auto;
}
/*-----------------------------Contenido tarea---------------------------*/
.container-general-tarea{
    background-color: #ffffff;
    border-radius: 16px;
    flex-grow: 1;
    height: 90%;
}
.container-tarea {
    margin-top: 10px;
    padding: 7px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.container-tarea-reporte {
    display: flex;
    width: 100%; 
    max-width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-tarea {
    flex: 1; 
    display: flex;
    justify-content: center; 
}

.report-container {
    flex: 0.5; 
    display: flex;

    justify-content: space-between; 
}

.title-reporte {
    margin-left: 30px; 
}

.subtitle-semanal {
    margin-right: 60px;
    margin-left: 15px;
}
.subtitle-semanal-hour {
    margin-right: 80px;
    margin-left: 15px;
}



.container-information {
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.container-information-reporte {
    display: flex;
    width: 100%; 
    max-width: auto;
}

.title-information {
    flex: 1; 
    display: flex;
    justify-content: center; 
}

.report-container-date {
    flex: 0.5; 
    display: flex;
    justify-content: space-between; 
}

.container-information-vista {
    margin-top: 10px;
    padding: 7px;
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    height: auto;

    overflow-y: auto;
    max-height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 16px;

}

.report-container-date-hour {
    flex: 0.5; 
    display: flex;
    justify-content: space-between; 
}


/*-------------Boton de generar reporte PDF---------------*/

.container-buttom-6 {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.container-buttom {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50px; 
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 16px;
    background-color: #FFE5B2;
}

.my-button {
    color: rgb(0, 0, 0);
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;

}
